Repository KTH/kth-node-redis: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, prettier --list-different

handle configuration (localhost and azure)
  __mocks__/redis.js
  src/config.test.ts
  src/config.ts
  src/index.test.ts
  src/index.ts
  src/types.ts
Due: prettier --write

handle failed connections
  src/index.test.ts
  src/index.ts
Due: prettier --write

add a retry strategy and simplify client close on errors
  src/index.test.ts
  src/index.ts
  src/reconnect-strategy.test.ts
  src/reconnect-strategy.ts
Due: prettier --write

allow passing config in native redis format
  src/config.test.ts
  src/config.ts
  src/index.ts
  src/types.ts
Due: prettier --write

destroy client on invalid credentials
  src/index.ts
Due: prettier --write

prevent doing multiple connection attempts at once
  src/index.ts
Due: prettier --write

fix test pipeline
  .azure/azure-pipelines.push.yml
  .azure/azure-pipelines.release.yml
Due: prettier --list-different

add pingInterval option if connecting to Azure server
  src/config.test.ts
  src/config.ts
  src/index.test.ts
  src/index.ts
Due: prettier --write

add tests on connection handling
  __mocks__/@kth/log.js
  src/index.test.ts
  src/index.ts
Due: prettier --write

one last tweak to connection handling
  src/index.ts
  src/reconnect-strategy.ts
Due: prettier --write

update readme and changelog
  CHANGELOG.md
  README.md
Due: prettier --list-different

add notes about @kth/api-call dependency
  CHANGELOG.md
  README.md
Due: prettier --list-different

add a non-blocking createClient
  README.md
  src/index.test.ts
  src/index.ts
Due: prettier --write, prettier --list-different

createClient tests should not use await
  src/index.test.ts
Due: prettier --write

4.0.0
  package-lock.json
  package.json
Due: prettier --list-different

chore(deps): audit fix
  package-lock.json
Due: prettier --list-different

chore(deps): update minor and patch
  package-lock.json
  package.json
Due: prettier --list-different

keep trying in reconnect strategy
  src/reconnect-strategy.test.ts
  src/reconnect-strategy.ts
Due: prettier --write

4.1.0-0
  package-lock.json
  package.json
Due: prettier --list-different

chore: set node 20 as engine
  package.json
Due: prettier --list-different

update changelog
  CHANGELOG.md
Due: prettier --list-different

4.1.0
  package-lock.json
  package.json
Due: prettier --list-different

chore(deps): update minor versions and audit fix
  package-lock.json
  package.json
Due: prettier --list-different

4.1.1
  package-lock.json
  package.json
Due: prettier --list-different

Path conditions:
  prettier --write: any of: *.{js,jsx,ts,tsx}
  prettier --list-different: any of: *.{yml,yaml,json,md}
